@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;    
}

.bg-second{
   background-color: rgb(134, 134, 148);
}
.bg-primary{
  background-color: rgb(223, 224, 219);
}



.mobile-nav{ 
  @apply fixed top-10  left-0 bg-gray-600 w-full h-1/6; 
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.project-desc{
  @apply absolute top-0 bottom-0 left-0 right-0 bg-primary opacity-0 duration-500 hover:opacity-100
}

html {
  scroll-behavior: smooth;
}

/* Define animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Apply animations */
.animate-slide-in {
  animation: slideIn 0.5s forwards;
}

.animate-grow {
  animation: grow 0.5s forwards;
}


